/* To fit the page */
html, body { height: 100%; }

	body {
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 'Varela', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		color: #656565;
	}
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}

	#wrapper
	{
		background: #FFF;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}

/* Heading Titles */
	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		text-transform: uppercase;
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.4em;
		color: #6F6F6F;
	}
/* ---------- */

/* Header wrapper */
	#header-wrapper
	{
		background: #202020;
	}

	#header
	{
		position: relative;
		padding: 3em 0em;
	}

	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
	}

	#UC_Name
	{
		position: absolute;
		top: 1em;
		left: 0;
	}
	
	#UC_Name a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}
/* ---------- */

/* Banner */
	#banner
	{
		overflow: hidden;
		padding: 1em 0em 3em 0em;
		background: #202020;
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
	}

	#banner .title
	{
		margin-top: -0.5em;
		margin-bottom: 1em;
	}

	#banner .title h2
	{
		color: #FFF;
	}
/* ---------- */

/* Displayer */
	#displayer
	{
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
	}

	#dotInp  {
		width: 80%;
    	padding: 12px 20px;
    	margin: 8px 0;
    	box-sizing: border-box;
    	border: 3px solid #ccc;
        -webkit-transition: 0.5s;
    	transition: 0.5s;
    	outline: none;
	}

	#dotInp:focus {
		border: 3px solid #555;
	}

	/* This class is created in FAParser.js */ 
	.weight {
		width: 20%;
		height: 10px;
    	padding: 12px 20px;
    	margin: 8px 0;
    	box-sizing: border-box;
    	border: 3px solid #ccc;
        -webkit-transition: 0.5s;
    	transition: 0.5s;
    	outline: none;
	}

	.weight:focus {
		border: 3px solid #555;
	}

	#statesWeightDisplayer {
		background: #DCDCDC;
		width: 60%;
		margin: auto;
		display: none;
		border: 3px solid #ccc;
	}
/* ---------- */

/* Footer */
	#footer
	{
		overflow: hidden;
		padding: 3em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#footer p
	{
		font-size: 1.1em;
		color: rgba(255,255,255,0.5);
	}
/* ---------- */

/* Buttons */
	#alert {
		background-color: #185B04; /* Green */
    	border: none;
    	padding: 13px 32px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
    	transition-duration: 0.4s;	
    	cursor: pointer;
		color: white;
	}

	#alert:hover {
		background-color: #0E3702;
	}

	#btn {
    	background-color: #4CAF50; /* Green */
    	border: none;
    	color: white;
    	padding: 13px 32px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
    	transition-duration: 0.4s;
    	cursor: pointer;
    	background-color: #555555;
		color: white;
	}

	#btn:hover {
		background-color: #202020;
	}

	#confirmBtn {
		line-height: 5px;
    	background-color: #4CAF50; 
    	border: none;
    	color: white;
    	padding: 13px 32px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	margin: 4px 2px;
        -webkit-transition-duration: 0.4s; 
    	transition-duration: 0.4s;
    	cursor: pointer;
    	background-color: #555555;
	    color: white;
    }

    #confirmBtn:hover {
	    background-color: #202020;
    }

    #dotFile {
    	display: none;
    }
/* ---------- */